{% extends "java_vacancies/base.html" %}
{% load static %}

{% block page_items %}
    <li><a href="{% url 'vacancies:index' %}">Главная</a></li>
    <li class="current_page_item"><a href="{% url 'vacancies:demand' %}">Востребованность</a></li>
    <li><a href="{% url 'vacancies:geography' %}">География</a></li>
    <li><a href="{% url 'vacancies:skills' %}">Навыки</a></li>
    <li><a href="{% url 'vacancies:hh_vacancies' %}">Последние вакансии</a></li>{% endblock page_items %}
{% block content %}

    <div class="skills_div">
        <div class="skill_div">
            <h2> Средняя зарплата по годам </h2>
            <table class="table_blur">
                <thead>
                <tr>
                    <th>Год</th>
                    <th>Средняя зарплата</th>
                </tr>
                </thead>
                <tbody>
                {% for aver in sal_by_year_common %}
                    <tr>
                        <td>{{ aver.year }}</td>
                        <td>{{ aver.aver_salary }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="skill_div">
            <h2> Средняя зарплата Java-разработчика </h2>
            <table class="table_blur">
                <thead>
                <tr>
                    <th>Год</th>
                    <th>Средняя зарплата</th>
                </tr>
                </thead>
                <tbody>
                {% for aver in sal_by_year_java %}
                    <tr>
                        <td>{{ aver.year }}</td>
                        <td>{{ aver.aver_salary }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="skill_div">
            <h2> Кол-во вакансий по годам </h2>
            <table class="table_blur">
                <thead>
                <tr>
                    <th>Год</th>
                    <th>Количество</th>
                </tr>
                </thead>
                <tbody>
                {% for count_vac in count_vac_by_year_common %}
                    <tr>
                        <td>{{ count_vac.year }}</td>
                        <td>{{ count_vac.sum_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="skill_div">
            <h2> Кол-во вакансий на Java-разработчика по годам </h2>
            <table class="table_blur">
                <thead>
                <tr>
                    <th>Год</th>
                    <th>Количество</th>
                </tr>
                </thead>
                <tbody>
                {% for count_vac in count_vac_by_year_java %}
                    <tr>
                        <td>{{ count_vac.year }}</td>
                        <td>{{ count_vac.sum_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

        <div>
        <img class="center_image" src="{% static 'images/demand/aver_by_years_common.png' %}" width="550" height="340" alt=""/>
        <br>
        <br>

        <img class="center_image" src="{% static 'images/demand/aver_by_years_java.png' %}" width="550" height="340" alt=""/>
        <br>
        <br>

        <img class="center_image" src="{% static 'images/demand/vac_count_by_year_common.png' %}" width="550" height="340" alt=""/>
        <br>
        <br>

        <img class="center_image" src="{% static 'images/demand/vac_count_by_year_java.png' %}" width="550" height="340" alt=""/>
        <br>
        <br>

    </div>
    <br>
    <br>
    <br>

{% endblock content %}