{% extends "java_vacancies/base.html" %}
{% load static %}

{% block page_items %}
    <li class="current_page_item"><a href="{% url 'vacancies:index' %}">Главная</a></li>
    <li><a href="{% url 'vacancies:demand' %}">Востребованность</a></li>
    <li><a href="{% url 'vacancies:geography' %}">География</a></li>
    <li><a href="{% url 'vacancies:skills' %}">Навыки</a></li>
    <li><a href="{% url 'vacancies:hh_vacancies' %}">Последние вакансии</a></li>

{% endblock page_items %}

{% block content %}
    <h2>Профессия Java-разработчик </h2>
    <img src="{% static 'images/java_logo.png' %}" width="600" height="300" alt=""/>

    <div>
        Владение языком программирования Java открывает двери к огромному количеству разных проектов. Разработчик может
        попробовать себя в создании мобильных приложений, сайтов, игр, а также в работе с данными и в исследованиях.
        Востребованный язык не позволит остаться джависту без работы. Кроме того, Java— отличный выбор в качестве
        первого языка программирования, так как многие заложенные в нем принципы и инструменты были переняты другими
        языками. Обладая даже базовыми знаниями в Java, намного легче подступиться к изучению чего-то еще.
        Java — мультифункциональный объектно-ориентированный язык программирования. Сейчас расшифруем.
        Мультифункциональность— возможность создавать на Java самые разные приложения, а объектно-ориентированность
        означает, что в нем можно создавать объекты и работать с ними. Например, если речь о разработке программы для
        тойже кофемашины, можно создать объект «напиток» и задать ему набор свойств: название, рецепт приготовления,
        стоимость. И далее уже работать не с отдельными разрозненными свойствами, а с объектом целиком: сохранять его,
        передавать внутри программы и так далее. Также этот язык относится к кроссплатформенным: код, написанный на
        Java, будет с одинаковым успехом работать на разных операционных системах, например, Windows, MacOS, Linux и
        Android.
        Применение Java обширно. Во-первых, Java-разработчики могут заниматься созданием desktop-приложений. Для
        примера: на Java написаны игра Minecraft (Java Edition), бесплатный аналог Microsoft Office— приложение
        OpenOffice (не полностью на Java, но в значительной мере) и большое количество продуктов «европейского аналога»
        1С— компании SAP.

        На Java можно создавать консольные приложения, которые запускаются и работают в командной строке, а также
        различные сервисы и утилиты. Долгие годы Java оставалась единственным языком программирования для создания
        мобильных приложений на базе Android. В 2017 году появился язык программирования Kotlin, который через какое-то
        время стал основным языком Android-разработки. Kotlin — это своего рода продолжение Java. Поэтому, владея
        навыками в прародителе, освоить его достаточно просто. Сегодня порядка 30% Android-приложений все еще
        разрабатываются на Java.

        Еще одна быстрорастущая сфера применения языка Java — все, что связано с обработкой больших данных и сферой Data
        Science. Этот сегмент она разделяет с языком программирования Python. На Java реализуют решения
        инфраструктурного уровня. Например, на ней написана одна из самых распространенных систем хранения и обработки
        больших данных Hadoop.

        Основное же назначение Java— это разработка серверной части веб-приложений— приложений, к которым мы получаем
        доступ через интернет. На Java написаны такие сервисы как «Яндекс.Музыка», «Яндекс.Маркет», «МойСклад»,
        «Альфа.Клик», «Сбербанк.Онлайн» или социальная сеть «Одноклассники». На Java разрабатывают именно серверную
        часть веб-приложений — так называемый бэкенд.

        По данным ресурса «Хабр.Карьера», большая часть российских вакансий на бэкенд приходится именно на Java, которая
        занимает в структуре спроса на бэкенд-разработчиков более 30%.
    </div>


{% endblock content %}
