{% extends "java_vacancies/base.html" %}
{% load static %}

{% block page_items %}
    <li><a href="{% url 'vacancies:index' %}">Главная</a></li>
    <li><a href="{% url 'vacancies:demand' %}">Востребованность</a></li>
    <li><a href="{% url 'vacancies:geography' %}">География</a></li>
    <li class="current_page_item"><a href="{% url 'vacancies:skills' %}">Навыки</a></li>
    <li><a href="{% url 'vacancies:hh_vacancies' %}">Последние вакансии</a></li>
{% endblock page_items %}

{% block content %}
    <h1>Топ-10 навыков по годам.</h1>
    <div class="skills_div">
    {% for year_skill in skills_years %}
        <div class="skill_div">
        <h2>{{year_skill.0  }}</h2>
        <table class="table_blur">
            <thead>
            <tr>
                <th>Навык</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in year_skill.1 %}
                <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.count }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        </div>
    {% endfor %}

    </div>

    <div>
        <h2 class="center_image">2015</h2>
        <img class="center_image" src="{% static 'images/skills/2015_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

        <h2 class="center_image">2016</h2>
        <img class="center_image" src="{% static 'images/skills/2016_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

        <h2 class="center_image">2017</h2>
        <img class="center_image" src="{% static 'images/skills/2017_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

        <h2 class="center_image">2018</h2>
        <img class="center_image" src="{% static 'images/skills/2018_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

        <h2 class="center_image">2019</h2>
        <img class="center_image" src="{% static 'images/skills/2019_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

        <h2 class="center_image">2020</h2>
        <img class="center_image" src="{% static 'images/skills/2020_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

        <h2 class="center_image">2021</h2>
        <img class="center_image" src="{% static 'images/skills/2021_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

        <h2 class="center_image">2022</h2>
        <img class="center_image" src="{% static 'images/skills/2022_skills.png' %}" width="550" height="320" alt=""/>
        <br>
        <br>

    </div>
    <br>
    <br>


{% endblock content %}